.marqueeContent {
	display: flex;
	gap: 16px;
	overflow: hidden;
	user-select: none;
	min-width: 100%;
	flex-shrink: 0;
	animation: marquee 10s linear infinite;
}

@keyframes marquee {
	from {
		transform: translateX(0);
	}
	to {
		transform: translateX(calc(-100% - 1rem));
	}
}
