@use "../../../styles/mixins" as *;

.textArea {
	width: 100%;
	max-width: 645px;
	.smallText {
		color: #f6f6f6;
		font-size: 1.6rem;
		letter-spacing: 2px;
		line-height: 120%;
	}
	h1 {
		margin-top: 24px;
		color: #ccf381;
		font-size: 6.4rem;
		font-weight: 600;
		line-height: 120%;
		margin-bottom: 10px;
	}
	.description {
		color: #fff;
		line-height: 150%;
		font-size: 1.8rem;
		margin-bottom: 20px;
	}
	.contato {
		--color: #f6f6f6;
		position: relative;
		text-decoration: none;
		color: var(--color);
		font-family: "Inter", sans-serif;
		padding: 0.2rem 0;
		&::before {
			--line-width: 106%;
			--line-height: 1px;
			--line-easing: ease;
			--line-transition-duration: 300ms;

			content: "";
			position: absolute;
			left: 0px;
			bottom: 0;
			width: var(--line-width);
			height: var(--line-height);
			transform-origin: right;
			transform: scaleX(0);
			background: var(--color);
			transition: transform var(--line-transition-duration) var(--line-easing);
			z-index: 1;
		}
		&:hover {
			&::before {
				transform-origin: left;
				transform: scaleX(1);
			}
			span {
				--deg: -45deg;
				&::before {
					transform: rotate(var(--deg));
				}
				&::after {
					transform: translateX(-1px) rotate(var(--deg));
				}
			}
		}
		span {
			--line-arrow-width: 1px;
			--line-arrow-height: 6px;
			--line-arrow-easing: cubic-bezier(0.3, 1.5, 0.5, 1);
			--line-arrow-transition-duration: 200ms;
			--line-arrow-transition-delay: 240ms;
			font-size: 1.6rem;
			&::before,
			&::after {
				content: "";
				position: absolute;
				right: -7%;
				bottom: 0px;
				background: var(--color);
				transition: transform var(--line-arrow-transition-duration) var(--line-arrow-easing);
				transition-delay: var(--line-arrow-transition-delay);
				z-index: 2;
			}
			&::before {
				width: var(--line-arrow-width);
				height: var(--line-arrow-height);
				transform-origin: 0% 100%;
				transform: rotate(-90deg);
			}
			&::after {
				height: var(--line-arrow-width);
				width: var(--line-arrow-height);
				transform-origin: 100% 0%;
				transform: translateX(-1px) rotate(0deg);
			}
		}
	}
	@include responsive(768px) {
		max-width: 80%;
		h1 {
			font-size: 4.8rem;
			margin-top: 16px;
		}
		.description {
			font-size: 1.6rem;
			br {
				display: none;
			}
		}
	}
}
