.background {
	display: flex;
	flex-direction: column;
	gap: 20px;
	width: 100%;
	max-width: 600px;
	h2 {
		color: #ccf381;
		font-size: 5.9rem;
	}
	p {
		font-size: 1.8rem;
		color: #fff;
		line-height: 1.6;
	}
}
