.case {
	display: flex;
	gap: 32px;
	justify-content: space-between;
	align-items: center;
	.imageArea {
		position: relative;
		width: 100%;
		max-width: 675px;
		aspect-ratio: 16/9;
		overflow: hidden;
		border-radius: 8px;
		.image {
			object-fit: cover;
		}
	}
	.textArea {
		display: flex;
		flex-direction: column;
		gap: 25px;
		width: 100%;
		max-width: 388px;
		h3 {
			font-size: 2.8rem;
			line-height: 150%;
			font-weight: 600;
			font-family: "Inter", sans-serif;
		}
		p {
			font-size: 1.6rem;
			line-height: 150%;
			font-family: "Inter", sans-serif;
			letter-spacing: 3%;
			color: #78797a;
		}
		a {
			--color: #653df5;
			position: relative;
			text-decoration: none;
			color: var(--color);
			font-family: "Inter", sans-serif;
			padding: 0.2rem 0;
			max-width: fit-content;
			&::before {
				--line-width: 106%;
				--line-height: 1px;
				--line-easing: ease;
				--line-transition-duration: 300ms;

				content: "";
				position: absolute;
				left: 0px;
				bottom: 0;
				width: var(--line-width);
				height: var(--line-height);
				transform-origin: right;
				transform: scaleX(0);
				background: var(--color);
				transition: transform var(--line-transition-duration) var(--line-easing);
				z-index: 1;
			}
			&:hover {
				&::before {
					transform-origin: left;
					transform: scaleX(1);
				}
				span {
					--deg: -45deg;
					&::before {
						transform: rotate(var(--deg));
					}
					&::after {
						transform: translateX(-1px) rotate(var(--deg));
					}
				}
			}
			span {
				--line-arrow-width: 1px;
				--line-arrow-height: 6px;
				--line-arrow-easing: cubic-bezier(0.3, 1.5, 0.5, 1);
				--line-arrow-transition-duration: 200ms;
				--line-arrow-transition-delay: 240ms;
				font-size: 1.6rem;
				text-transform: uppercase;
				&::before,
				&::after {
					content: "";
					position: absolute;
					right: -7%;
					bottom: 0px;
					background: var(--color);
					transition: transform var(--line-arrow-transition-duration) var(--line-arrow-easing);
					transition-delay: var(--line-arrow-transition-delay);
					z-index: 2;
				}
				&::before {
					width: var(--line-arrow-width);
					height: var(--line-arrow-height);
					transform-origin: 0% 100%;
					transform: rotate(-90deg);
				}
				&::after {
					height: var(--line-arrow-width);
					width: var(--line-arrow-height);
					transform-origin: 100% 0%;
					transform: translateX(-1px) rotate(0deg);
				}
			}
		}
	}
}
