.swiperProjects {
	.action {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-top: 112px;
		.navigation {
			display: flex;
			gap: 24px;
			align-items: center;
		}
		:global(.swiper-pagination-bullets) {
			position: static;
			max-width: fit-content;
		}
		:global(.swiper-pagination-bullet) {
			width: 30px;
			height: 4px;
			border-radius: 100px;
			background: #ccbeff;
			opacity: 1;
			transition: all 0.3s;
		}
		:global(.swiper-pagination-bullet-active) {
			background: #653df5;
		}
		.paginationNumbers {
			span {
				font-size: 1.6rem;
				font-family: "Inter", sans-serif;
				line-height: 150%;
				color: #653df5;
				font-weight: 600;
			}
		}
	}
}
